@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Edu NSW ACT Foundation;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(204, 78, 105),
    rgb(255, 0, 98)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
img {
  width: 300px;
}
button {
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  position: absolute;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  top: 80%;
}
.yes {
  background-color: rgb(47, 255, 123);
  left: 40%;
}
.no {
  background-color: rgb(252, 54, 54);
  right: 40%;
}
